{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="container">
        <h4>Contacto</h4>
        <p> nos puedes escribir a nuestro correo electronico empresarial </p>
        
        <div class = "border">
            <form action="contacto" method="POST">{% csrf_token %}
                
                <!-- nombre del mensaje -->
                {{ form|crispy }} 
                
                <button type="submit">enviar</button>
            </form>
            
        </div>
        <p>tambien manejamos las siguientes vias de contacto !!</p>
    </div>


</section>

{% endblock %}