{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}
<section>
    <div class="container">
        <h4>Contacto</h4>
        <p> nos puedes escribir a nuestro correo electronico empresarial </p>
        
        {% if "valido" in request.POST %}
            <p> se ha enviado la informacion correctamente !!</p>
        {% endif %}
        
        <div>
            <form action="contacto" method="POST">{% csrf_token %}
                
                <!-- nombre del mensaje -->
                {{ miform|crispy }} 
                
                <input type="submit" value="Enviar">
            </form>
            
        </div>
        <p>tambien manejamos las siguientes vias de contacto !!</p>
    </div>


</section>

{% endblock %}