{% extends 'index.html' %}
{% block content %}
<section>
    <div class="container">
        <h4>Quienes somos ?</h4>
        <p> Distribuidora quindiana. comprometida con el desarrollo de las empresas minoristas. </p>
        <p> Ofrecemos productos para el hogar, tales como muebles, sillas, armarios etc. ofreciendo el atajo
            directo al cliente con la empresa que hizo ese producto</p>
        <p> Tambien puedes buscar productos de acuerdo a tus necesidades</p>

        
    </div>
</section>

{% endblock %}