{% extends 'index.html' %}
{% block content %}
<section>
    <div class="col-12 border">
        {% include 'menu_categoria.html' %}
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col border">1</div>
            <div class="col border">2</div>
            <div class="col border">3</div>
            <div class="col border">4</div>
            <div class="col border">5</div>
            <div class="col border">6</div>
            <div class="col border">7</div>
            <div class="col border">8</div>
            <div class="col border">9</div>
            <div class="col border">10</div>
            <div class="col border">11</div>
            <div class="col border">12</div>
        </div>
        <div>
            <p>buscador</p>
            <form action="productos" method="GET">
                <input type="text" name="q" value="{{ nombre|escape }}">
                <input type="submit" value="buscar">
            </form>
        </div>

        <div>
            <p>filtro precio</p>
            <select action="" method="GET" class="form-select" id="floatingSelect" aria-label="Floating label select example">
                <option selected>seleccionar filtro</option>
                <option value="1">mayor a menor </option>
                <option value="2">menor a mayor </option>
                
              </select>
        </div>
        
       <div class="row row-cols-4 g-4"> 
        {% for p in producto %}
        <div class="col">    
        
        <div class="card border-warning" style="width: 18rem; height: 24rem;">
            {% if p.foto1 %}
                <img src="{{ p.foto1.url }}" class="card-img-top" alt="producto">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ p.nombre }}</h5>

              <p class="card-text">
                {% if p.descripcion %}
                {{ p.descripcion }}
                {% endif %}</p>
                <h6 class="card-text"> $ {{ p.valor }}</h6>
                    

              <a href="{% url 'inf_producto' p.id %}" class="btn btn-primary">Ver mas ...</a>
            </div>
        </div>
        </div>

        {% endfor %}
        </div>
    </div>
    <h2>Productos</h2>
</section>

{% endblock %}