
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'inicio_usuario' %}">Distri-Hogar</a>
      {% if user.is_authenticated %}
        <h6 class="navbar-brand">Bienvenido, {{ user.username }}</h6>
      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Opciones</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'inicio_usuario' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'RegistroPro' %}">Registrar producto</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ver_productos' %}">Ver productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'Galeria' %}">Galeria</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'cerrar_sesion' %}">Cerrar sesion</a>
            </li>
        </div>
      </div>
    </div>
  </nav>
