{% extends 'index.html' %}

{% block content %}
<section>
    <div class="row">
        <div class="col border">1</div>
        <div class="col border">2</div>
        <div class="col border">3</div>
        <div class="col border">4</div>
        <div class="col border">5</div>
        <div class="col border">6</div>
        <div class="col border">7</div>
        <div class="col border">8</div>
        <div class="col border">9</div>
        <div class="col border">10</div>
        <div class="col border">11</div>
        <div class="col border">12</div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat est blanditiis excepturi quis omnis sed rerum exercitationem eum, deserunt a quaerat hic et itaque velit facilis? Dolore minima saepe a?</div>
        <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, accusantium illo? Exercitationem voluptas delectus earum sunt ea explicabo. Unde recusandae aliquid mollitia animi qui error quod voluptates accusamus incidunt odit?</div>
        <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet quaerat blanditiis quod facilis, modi quas corrupti fuga fugiat animi, dignissimos maxime nam voluptatum ratione corporis voluptate numquam ex recusandae doloribus.</div>
        <div class="col-12 col-md-6 col-lg-3 border">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ea ab eum cum quis quod quos! Voluptatibus nostrum aspernatur a! Ipsa, mollitia sint! Nihil, possimus dicta id dolorum tempore accusamus!</div>
    </div>
</section>

{% endblock %}