{% extends 'usuario.html' %}

{% block content %}
<section class="container border py-4">
    <h4> Inicio </h4>
    <div class="row border">

    <div class="col-6">
        <a href="#">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">Productos</div>
            <div class="card-body">
              <h5 class="card-title">Ver productos</h5>
              <p class="card-text">haz click para ver tus productos registrados.</p>
            </div>
          </div>
        </a>
    </div>
    
    <div class="col-6">
        <a href="#">
        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">Albums</div>
            <div class="card-body">
              <h5 class="card-title">Ver albumnes</h5>
              <p class="card-text">haz click para ver tus albumnes registrados.</p>
            </div>
          </div>
        </a>
    </div>
      
    </div>
</section>

{% endblock %}