{% extends 'usuario.html' %}

{% block content %}
<section class="container border py-4">
    <h4> Inicio </h4>
    <div class="row border">

    <div class="col-6">
        <a href="{% url 'RegistroPro' %}">
        <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-header">REGISTRO</div>
            <div class="card-body">
              <h5 class="card-title">Registra tu producto</h5>
              <p class="card-text">haz click para registrar los productos.</p>
            </div>
          </div>
        </a>
    </div>
    
    <div class="col-6">
        <a href="{% url 'ver_productos' %}">
        <div class="card text-bg-info mb-3" style="max-width: 18rem;">
            <div class="card-header">VISTA PRODUCTO</div>
            <div class="card-body">
              <h5 class="card-title">AQUI ESTAN TUS PRODUCTOS</h5>
              <p class="card-text">haz click para ver tus productos registrados.</p>
            </div>
          </div>
        </a>
    </div>
      
    </div>
</section>

{% endblock %}