{% extends 'usuario.html' %}
{% block content %}
<section class="container border">
    <h4>Productos registrados</h4>
    <a href="{% url 'RegistroPro' %}">volver a registrar </a>
    <a href="{% url 'inicio_usuario' %}">volver al inicio </a>
</section>

<div class="container-fluid border">

    <div>
        <p>buscador</p>
        <form action="vista_productos" method="GET">
            <input type="text" name="q" value="{{ nombre|escape }}">
            <input type="submit" value="buscar">
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nombre</th>
              <th scope="col">valor</th>
              <th scope="col">inventario</th>
              <th scope="col">fotos</th>
              <th scope="col">producto</th>
              <th scope="col">editar</th>
              <th scope="col">eliminar</th>
              
            </tr>
          </thead>
          <tbody>
            {% for p in producto %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ p.nombre }}</td>
                <td>{{ p.valor }}</td>
                <td>{{ p.inventario }}</td>
                <td>
                    {% if p.foto1 %}
                    <img class = 'rounded img-fluid' width='150px' src=" {{ p.foto1.url }} ">
                    {% endif %}
                    
                </td>
                <td><a href="{% url 'producto_usuario' p.id %}">ver producto</a></td>
                <td><a href="{% url 'editar_producto' p.id %}">editar</a></td>
                <td><a href="{% url 'eliminar_producto' p.id %}">eliminar</a></td>
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
    </table>
    
    
</div>
{% endblock %}