{% extends 'usuario.html' %}

{% block content %}
<section class="container border">
    <h4>Productos registrados</h4>
    <a href="{% url 'RegistroPro' %}">volver a registrar </a>
    <a href="{% url 'inicio_usuario' %}">volver al inicio </a>
</section>

<div class="container-fluid border">

    <div>
        <p>buscador</p>
        <form action="vista_productos" method="GET">
            <input type="text" name="q" value="{{ nombre|escape }}">
            <input type="submit" value="buscar">
        </form>
    </div>

    {% for p in producto %}
        <p>{{ p.nombre }}</p>
        <p>{{ p.valor }}</p>
        <p>{{ p.inventario }}</p>
        {% if p.foto1 %}
            <p> si hay foto </p>
            <img src=" {{ p.foto1.url }} ">
        {% endif %}

    {% endfor %}
</div>
{% endblock %}