{% extends 'usuario.html' %}

{% block content %}
<section>
    <div class="row">
        <div class="col-12">
            <h3>Registro de imagenes</h3>
            <a href="{% url 'Inicio' %}">volver al inicio </a>
        </div>

        <div class="col-12">
    
        <form action = "imagen" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ form }}
            <button type="submit">registrar Album</button>
        </form>
        </div>    
    </div>
</section>

{% endblock %}