{% extends 'usuario.html' %}

{% block content %}
<section class="container border">
    <div class="row">
        <div class="col-12">
            <h3>Registro Producto</h3>
        </div>

        <div class="col-12">
    
        <form action = "registro" method="POST" class='form-label form-control' enctype="multipart/form-data">{% csrf_token %}
            {{ form }}
            
            <!-- para estudiar esta parte 
             <div class = 'form-label form-control'>
                {{ form.nombre.label }}
                {{ form.nombre }}
            </div>
            --> 
            <button type="submit">Registrar Producto</button>
        </form>
        </div>    
    </div>
</section>

{% endblock %}