<nav>
    <!-- esta es el menu principal -->
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item active"><a class="nav-link" href="#">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Productos</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Quienes Somos ?</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Mi Cuenta</a></li>
    </ul>
    
</nav>
